<span class="input search">
	{{input type="search" value=searchTerm id="search-box"}}
	<label class="input__label input__label--chisato" for="search-box">
		<span class="input__label-content input__label-content--chisato" data-content="Search">Search</span>
	</label>
</span>


