/*** TYPO ***/
a, .red { color: #cc0000;
		  text-decoration: none; }
a { transition: text-decoration 0.2s; }
.pink { color: #FF69B4; }

nav a { margin: 0 1em;
		width: 4rem;
		color: #FFF;
		padding: .5rem 0;
		text-align: center; }
@media (max-width: 550px) { nav a { margin: .5rem; } }
a .card { color: #222; }
a .card .active { font-weight: 400; }
.active { font-weight: 700; }
.rightAligned { float: right; }

/*** HEADER ***/
header, footer {
	padding: 1rem;
	background-color: #352525;
	color: #fff; }
header { height: 5rem; }
@media (max-width: 550px) { header { height: 17rem; } }
header nav a:hover { text-decoration: none; }
header nav a::after {
	position: relative;
	display: block;
	top: 1.25rem;
	height: 0.5rem;
	background: #cc0000;
	content: '';
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(5px); }
header nav a:hover::after,
header nav a.active::after {
	opacity: 1;
	transform: translateY(0px); }
header .column:first-child { margin-right: 0; }		/*** fixing stupid alignments - ***/
#dashboard .column:first-child { margin-right: 0; } /*** might need to think of something better ***/

nav { padding: 1rem 0;
	  height: 2rem; }

/*** CONTENT AREA ***/
/* SEARCH ANIMATION */
.content {  margin-top: 3rem;
			margin-bottom: 3rem; }
section { padding-top: 0.3rem; }

input { transition: border 0.3s; }
.search #search-box {
	display: block;
	transition: background-color 0.3s, border-color 0.3s; }
.search .inputLabel {
	color: #d1d1d1;
	display: block;
	float: left;
	color: #d1d1d1;
	user-select: none;
	text-align: left;
	position: relative;
	pointer-events: none;
	overflow: hidden;
	padding: 0 1rem;
	transform: translate3d(0, -3em, 0);
	transition: transform 0.3s;
	top: -0.5rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
 }
.search .labelContent {
	position: relative;
	display: block;
	padding: 1em 0;
	color: #8B8C8B;
	padding: 0.25em 0;
	transition: transform 0.3s; }
.search .labelContent::after {
	content: attr(data-content);
	position: absolute;
	font-weight: 700;
	bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #cc0000;
	padding: 0.25rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.85em; }
.search #search-box:focus + .search .inputLabel,
.input--filled .inputLabel { transform: translate3d(0, 0, 0); }
.search #search-box:focus + .search .inputLabel .labelContent,
.input--filled .labelContent { transform: translate3d(0, 100%, 0); }
.search #search-box:focus + .search #search-box,
.search .input--filled #search-box { border-color: #cc0000; }

/* CARD GRID */
.masonry {
	width: 100%;
	display: block;
	column-count: 3;
	-webkit-column-count: 3;
	column-gap: 1rem;
	-webkit-column-gap: 1rem;
	transition: column-count 0.2s, -webkit-column-count 0.2s; }
@media (max-width: 800px) {
	.masonry {
		column-count: 2;
		-webkit-column-count: 2; }
}
@media (max-width: 550px) {
	.masonry {
		column-count: 1;
		-webkit-column-count: 1; }
}
.card { border-radius: 2px;
		border: 1px solid #d1d1d1;
		padding: 1rem;
		margin-bottom: 1rem;
		min-height: 14rem;
		transition: border 0.25s;
		overflow: hidden;
    	display: inline-block;
    	width: 90%;
		 }
a .card:hover { border: 1px solid #cc0000; }
.card .card-prominent {
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center; }
.card .card-prominent::after {
	content: '';
	width: 30%;
	left: 35%;
	height: 1px;
	position: relative;
	display: block;
	top: 1rem;
	background: #d1d1d1;
	transition: background 0.25s, width 0.25s, left 0.2s; }
.card:hover .card-prominent::after {
	background: #cc0000;
	width: 50%;
	left: 25%; }
.card .card-project {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 2rem; }
.card .card-ticket { float: left; }
.card .card-updated { float: right; }

/*** FOOTER ***/

footer img#logo {
	max-height: 4.5rem;
	max-width: 4.5rem;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*** Custom Styles ***/
.note {
	background-color: #ffffcc;
	border: 1px solid #f9d100;
}