<p class="intro">
	We were wondering what engineering is actually doing all day, so we thought we create a webpage which tracks all changes which are all on thehalf projects in REDMINE
</p>

<p>
	<strong class="red">Red</strong>stone stats tool created by Stefan Ludwig & Dominic Brause.
</p>

<p>
	Got some ideas you would like to see implemented? - <br />
	<a href="mailto:dominic.brause@emc.com">Drop me an email</a> and let's see what we can do.
</p>