	<header>
		<nav class="row">
			{{link-to 'Home' 'index'}}
			{{link-to 'What is this?' 'about'}}
		</nav>

		<h2 id="title"><strong class="red">Red</strong>stone</h2>
		<span id="tagline">- Redmine tracking fast forward</span>
	</header>
	<div class="container">
		{{outlet}}
	</div>
	<footer>
		<p>This page was created with love & ember.js</p>
	</footer>