	<header class="row">

		{{#link-to 'index' class="one columns" id="headerLogo"}}
			<img id="logo"  src="assets/Redstone.png">
		{{/link-to}}
		<div class="container">
			<span class="one-half column">
				<h2 id="title" class="three columns" ><strong class="red">Red</strong>stone</h2>
				<!-- span id="tagline" class="two columns">- Redmine tracking fast forward</span-->
			</span>

			<nav class="one-third column rightAligned">
				{{link-to 'Dashboard' 'index'}}
				{{link-to 'What is this?' 'about'}}
			<a href=""></a>
			</nav>
		</div>
	</header>
	<div class="container">
		{{outlet}}
	</div>
	<footer class="row">
		<div class="container">
			<p class="one-half column">This page was created with love & <a href="http://emberjs.com">ember.js</a><br />
			Powered by <a href="http://www.redmine.org/projects/redmine/wiki/Rest_api">Redmine REST API</a></p>
			<p class="one-half rightAligned">{{link-to 'What is this?' 'about'}}</p>
		</div>
	</footer>