<section>
	<div class="intro">
		<p>We were wondering what engineering is actually doing all day, so we thought we create a webpage which tracks all changes which are all on the engineering project in REDMINE</p>
	</div>
	<div class="row">
		{{#each model.issues as |issues|}}
			<div class="one-third column">
			<p><strong>Ticket #</strong> {{#link-to 'issues' issues}}{{issues.id}}{{/link-to}}<br />
			   <strong>Project:</strong> {{issues.project.name}}<br />
			   <strong>Tracker:</strong> {{issues.tracker.name}}<br /></p></div>
		{{else}}
			<div class="one-half column"><p>Hang on a second...</p></div>
		{{/each}}
	</div>
</section>