<h3>Project {{model.name}}</h3>

<p><strong>Project #</strong> {{model.id}}<br />

<hr />

<strong>Issues in this project:</strong></p>

	{{#each model.issues as |issues|}}
		{{#link-to 'issues' issues}}
					{{#issue-detail-card id=issues.id updated=issues.updated_on projectid=issues.project.id project=issues.project.name}}
						{{issues.subject}}
					{{/issue-detail-card}}
			{{/link-to}}
	{{else}}
		<p>There are no issues in this project</p>
	{{/each}}